body {
  background-color:#333;
}
ul, li {
  margin:0;
  padding:0;
  list-style:none;
}
.title {
  padding-top:8%;
  margin:0 5%;
  color:#eee;
}


.container {
  width:100%;
  max-width:1400px;
  margin:0 auto;
  overflow:hidden;
}
.gallery {
  margin:50px 5px;
  box-sizing:border-box;
}
.gallery:after {
  content:"";
  display:block;
  clear:both;
  visibility:hidden;
}
.gallery li {
  width:50%;
  float:left;
  box-sizing:border-box;
  padding:0 20px;
  margin:0 0 50px 0;
}
.gallery li img {
  width:100%;
  max-width: 100%;
  height:auto;
}
.img02:hover, .img03:hover {
  opacity:70%;
  transition:all 0.5s ease-out;
}
/*.img02, .img03 {
  position:relative;
}
.img02_on, .img03_on {
  position:absolute;
  width:100px;
  height:auto;
  top: 0px;
  left: 0px;
}
.img02:hover .img02_on {
  display: block;
}*/

  transition: all 0.5s ease-out;
}
@media (max-width:1200px){.container .gallery li{width:50%;} }
@media (max-width:768px){ .container .gallery li{width:50%;} }
@media (max-width:560px){ .container .gallery li{width:100%;} }
@media (max-width:480px){ .container .gallery li{width:100%;} }
